<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trademark.cms.dao.mapper.CmsMenuBaseMapper">
    <resultMap id="BaseResultMap" type="com.trademark.cms.dao.entity.CmsMenuBase">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode"/>
        <result column="menu_url" jdbcType="VARCHAR" property="menuUrl"/>
        <result column="menu_type" jdbcType="TINYINT" property="menuType"/>
        <result column="menu_description" jdbcType="VARCHAR" property="menuDescription"/>
        <result column="menu_parent_id" jdbcType="INTEGER" property="menuParentId"/>
        <result column="menu_sort" jdbcType="INTEGER" property="menuSort"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="modify_id" jdbcType="INTEGER" property="modifyId"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <select id="queryMenuAll" resultMap="BaseResultMap">
        select * from cms_menu_base where is_deleted =0
    </select>
</mapper>