<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trademark.cms.dao.mapper.CmsRoleBaseMapper">
    <resultMap id="BaseResultMap" type="com.trademark.cms.dao.entity.CmsRoleBase">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_key" jdbcType="VARCHAR" property="roleKey"/>
        <result column="role_description" jdbcType="VARCHAR" property="roleDescription"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="modify_id" jdbcType="INTEGER" property="modifyId"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
</mapper>